# db
MYSQL_IMAGE=mysql:5.7
MYSQL_ROOT_PASSWORD=123456

# redis
REDIS_IMAGE=redis:alpine

# web
IZONE_IMAGE=ccr.ccs.tencentyun.com/zhangyancheng/public_izone:1.0
IZONE_MYSQL_NAME=izone

# nginx
NGINX_IMAGE=nginx:stable-alpine
NGINX_PORT=80